#photo-carousel{
  width: 100%;
}
.description{
  margin-top: 3%;
  display: flex;
}
#reviews{
  width: 70%;
  margin-left:3%;
  margin-right:3%;
}
#Reservations{
  position: sticky;
  right: 2.5%;
  float: right;
  top: 30%;
}
#Nearby{
  position: relative;
}