#photo-carousel{
  width: 100%;
}
.description{
  margin-top: 3%;
  display: inline-flex;
}
#reviews{
  width: 70%;
  margin-left:3%;
  margin-right:3%;
}
#Reservations{
  position: relative;
  left: auto;
}
#Nearby{
  position: relative;
}